@charset "UTF-8";

/*  Global Styles ***************
************************* */
*,
*:after,
*:before {
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

*html::after,
*html::before {
  display: block;
  content: '';
  clear: both;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF;
  color: #333e47;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0;
}

div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: block;
}

img {
  display: block;
}

a {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
   -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

a:hover,
a:active {
  color: #00A7FF;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-weight: 700;
}

b,
strong {
  font-weight: 700;
  font-weight: bold;
  font-style: normal;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 15px 0 10px;
}

p:last-child {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  -webkit-column-fill: auto;
  column-fill: auto;
}

li.exclamation {
  font-size:16px;
  position: relative;
  margin-bottom: .5em;
  padding-left: 3em;
}

li.exclamation::before {
  content: '';
  position: absolute;
  width: 3em;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/exclamation-blue-triangle.svg);
  background-size: 1.3em 1.3em;
  background-repeat: no-repeat;
  background-position: center;
}

sup {
  line-height: 1;
  font-size: 70%;
  vertical-align: bottom;
}

.blue {
  background: #00A7FF;
  color: #FFFFFF
}

body.Thank__You .social__icons {
  margin-top: 0;
}

body.Thank__You .content.scroll {
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 50px
}

/* Head and Logos 
*********************************** */
.head {
  position: sticky;
  background-color: #FFFFFF;
  width: 100%;
  height: 85px;
  margin: 0 auto;
  clear: both;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.head::after,
.head::before {
  clear: both;
}

.head__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1180px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}

.left,
.right {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}
.right {
  text-align: right;
}
.left img,
.right img {
  display: inline-block;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.head-space--scroll {
  height: 65px;
}
.head--scroll {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 65px;
}
.head--scroll .left img,
.head--scroll .right img {
  -webkit-transform: scale(.8);
  transform: scale(.8);
}

/* Hero Image and title 
**************************
*********************************** */
.blue--right__corner {
  width: 85%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.img-wrapper {
  height: 100%;
  position: absolute;
}

.img-wrapper img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.helper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.__left,
.__right {
  width: 50% !important;
  max-width: 50%;
}

.__left {
  background-color: #000000;
  color: #FFFFFF;
  position: relative;
}

.bottom--rectangle {
  width: 100%;
  min-height: 48px;
  bottom: 0;
  margin-bottom: 0;
  margin-top: auto;
}

.header {
  padding: 75px 15px;
}

.header h3 {
  line-height: normal;
  font-size: 3rem;
}

.wrap {
  margin: 0 auto;
  max-width: 1180px;
  overflow: hidden;
}

.wrap__main {
  background-color: transparent;
  height: auto;
}

.hero-image {
  overflow: hidden;
}


.image__wrap {
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
}

.shadow-effect {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  z-index: 2;
}

.shadow-effect:before,
.shadow-effect:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px;
}

.shadow-effect:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.title--wrap {
  position: absolute;
  right: 75px;
  top: 50%;
  z-index: 99;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  max-width: 800px;
}

.title__helper {
  text-transform: uppercase;
  line-height: normal;
  color: #000000;
  letter-spacing: -1px;
}

.title__helper > h4 {
  font-size: 34px;
  font-weight: 900;
  color: #000000;
  line-height: 1;
}

.title__helper > h2 {
  font-size: 52px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #000000;
}


.media-heading {
  min-height: 70px;
}

h4.h4 {
  line-height: 1;
  margin-bottom: 0;
}

.media-heading p {
  font-size: 14px;
  line-height: 16px;
}

.content-table {
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content-table > div {
  -ms-flex-preferred-size: calc(50% - 3px);
  flex-basis: calc(50% - 3px);
}

.content-table > div > div:nth-child(-n + 2) {
  margin-bottom: 6px;
}

.gray-section {
  background-color: #e4e4e4;
  overflow: visible;
  margin-top: calc(125px + 3rem);
}

.gray-section::before {
  content: '';
  position: absolute;
  top: -75px;
  left: 0;
  border-top: 75px solid transparent;
  border-left: 100vw solid #e4e4e4;
}

.gray-section .wrap {
  overflow: visible;
}

.gray-section__brochure img {
  margin: -250px auto 0;
}

.right__content {
  position: relative;
  z-index: 9;
}

.right__content::after,
.right__content::before {
  display: block;
  content: '';
  clear: both;
}

.white {
  background-color: #FFFFFF;
  color: #333e47;
}

.form {
  padding: 25px;
  position: relative;
  border: 1px solid #333;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.form--field {
  margin: 5px 0 0;
}

.form--field input[type="submit"] {
  margin-top: 10px;
}

.form--field:first-of-type {
  margin: 0 0 0;
}

.form--field > .text--field {
  background-color: #fafafa;
  border: 1px solid #dbd9d6;
}

select.select--input__field {
  background: url('../images/select-arrow.png') 97% no-repeat #fafafa;
  background-size: 14px;
  border: 1px solid #dbd9d6;
  color: #9C9A9A;
}

::-webkit-input-placeholder {
  color: #9C9A9A;
  z-index: 1;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9C9A9A;
  opacity: 1;
}

::-moz-placeholder {
  color: #9C9A9A;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #9C9A9A;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #9C9A9A;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9C9A9A;
  opacity: 1;
}

::placeholder {
  color: #9C9A9A;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9C9A9A;
}

::-ms-input-placeholder {
  color: #9C9A9A;
}

select::-ms-expand {
  display: none;
}

select[name="country"],
select[name="industry"],
input[name="company"],
input[name="email"],
input[name="lastName"],
input[name="firstName"],
input[type="submit"] {
  padding: 7px;
  width: 100%;
  height: 35px;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 16px;
  font-weight: 100;
}

.pm-validation-error {
  font-size: 9px !important;
  color: #ff0004 !important;
  padding-left: 7px;
}

.form--button > input[type="submit"] {
  line-height: 1;
  background-color: #00A7FF;
  border: 2px solid #00A7FF;
  color: #ffffff;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form--button > input[type="submit"]:hover,
.form--button > input[type="submit"]:focus,
.form--button > input[type="submit"]:visited {
  color: #00A7FF;
  background-color: #ffffff;
}

.text--field:focus,
.select--input__field:focus {
  outline: none;
  border: 1px solid #333E47;
  background-color: #FFFFFF;
}

.opt--in {
  display: block;
  margin-bottom: 10px;
}

.smallprint {
  padding-left: 5px;
  font-size: 11px;
}

label[for="optIn"]:first-of-type {
  margin-right: 15px;
}

input[name="optIn"] {
  margin-right: 5px;
  cursor: pointer;
}

.asterisk {
  color: #FF0004;
}

.partner-logo {
  margin-bottom: 15px;
  width: 100%;
}

.partner-info__small {
  width: 100%;
  font-size: 1em;
}

.partner-info > a:hover,
.partner-info > a:focus,
.partner-info > a:link {
  color: #0097d6;
  cursor: pointer;
}

.partner-info > a:visited,
.partner-info > a:active {
  color: #666666;
}

p.form-header {
  margin-top: 0;
  line-height: normal;
  padding: 7px;
  font-size: 16px;
}

h4.form-header {
  position: absolute;
  text-align: center;
  color: #333333;
  background: #ffffff;
  padding: 0 25px;
  right: 50%;
  top: 0;
  -webkit-transform: translate(50%, -51%);
  transform: translate(50%, -51%);
  line-height: 1;
}

.form--field label[for="firstName"],
.form--field label[for="lastName"],
.form--field label[for="email"],
.form--field label[for="company"],
.form--field label[for="industry"],
.form--field label[for="country"],
.form--field label[for="phone"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.social__icons {
  text-align: left;
  margin-top: 26px;
}

.social-media {
  margin-top: 15px;
}

.social-media a {
  display: inline-block;
  margin-right: 2%;
  position: relative;
  border-radius: 30%;
  height: 34px;
  overflow: hidden;
}

.social-media a img:hover,
.social-media a img:active {
  bottom: 34px !important;
}

.social-media > a img {
  bottom: 0px;
  height: auto;
  position: relative;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 100%;
  max-width: 34px;
  border: none;
}

.social-media a:last-child {
  margin-right: 0px
}

.partner__copy {
  padding: 25px;
  border: 1px solid #333E47;
}

.light-Gray {
  color: #033d47;
  background-color: #e4e3e4;
}

footer {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 14px;
  font-weight: 100;
  padding: 20px 25px 40px;
}

footer > div {
  max-width: 1180px;
  margin: 5px auto;
}

footer .privacy > a {
  font-size: 16px;
  text-decoration: underline;
  color: #00A7FF !important;
}

footer .privacy > a:hover,
footer .privacy > a:active {
  color: #66caff !important;
  cursor: pointer;
  -webkit-transition: all ease-in-out 30ms;
  transition: all ease-in-out 30ms;
}

footer .privacy {
  margin-bottom: 10px;
}

.partner-info.social__icons {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  font-size: 16px;
}

/* Responsive devices 
**************************
*********************************** */
@media only screen and (max-width: 768px) {

  .img-wrapper {
    position: relative;
  }

  .header {
    padding: 25px;
  }

  .__left,
  .__right {
    width: 100% !important;
    max-width: 100%;
    text-align: center;
  }

  .order--1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .order--2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .media-heading {
    min-height: 45px;
  }

  .gray-section {
    margin-top: 200px;
  }

  .gray-section__brochure img {
    margin-top: -150px;
  }

  .form > form {
    display: grid;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .form--field {
    -ms-flex-preferred-size: 49%;
    margin: 0;
  }

  .form--field:nth-child(even) {
    margin: 0 0 5px 0;
  }

  footer {
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  .header h3 {
    line-height: normal;
    font-size: 2.6rem;
  }

  ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  .content-table {
    display: block;
   
  }
  .content-table > div > div {
    margin-bottom: 6px;
  }
  
  .form,
  .partner-info {
    padding: 15px
  }
  
  .form > form {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form--field {
    margin: 0 0 10px !important;
  }

  .head__wrap {
    min-height: 100px;
    height: 100%;
  }

  .left,
  .right {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }

  .left > table,
  .left > img,
  .right > img,
  .left > table * img {
    float: none !important;
    text-align: center !important;
    margin: 0 auto;
  }

  ol {
    padding-left: 15px;
  }
}